/*
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
/* .bg-grey {
  background: #f7f7f7;
} */

section > .container {
  width: 1170px;
  margin: auto;
  display: block;

  /* padding: 30px 50px; */
}
.section-title,
h2 {
  font-size: 20px;
  font-weight: 400;
}
p {
  font-size: 10px;
  color: #868e96;
}
ul {
  list-style: none;
}
#nav-bar {
  text-align: center;
}

/* header  */
#banner {
  height: 60vh;
  position: relative;
  background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgb(34, 34, 34, 0.6)),
    url("../images/banner.jpg");
  background-position: center;
  width: 95%;
  margin: 0 auto;
}
#banner div {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#banner h1 {
  font-weight: 400;
  color: #f7f7f7;
}
#banner span {
  color: #adb5bd;
  font-size: 10px;
}
/* end header  */
/* nav  */
#nav-bar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#nav-bar .container div {
  display: flex;
  flex-direction: column;
  margin: 0 80px;
}
#nav-bar .container h2 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 400;
}
#nav-bar .container span {
  color: #adb5bd;
  font-size: 10px;
}
#nav-bar .container a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  padding: 18px 20px 18px 30px;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  text-transform: uppercase;
}
#nav-bar .container i {
  color: #339af0;
}
/* end nav  */
/* Xây dựng Thông tin cá nhân */
#about .container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
  line-height: 1.5;
}
#target {
  background-color: #f7f7f7;
  padding: 60px 30px 30px;
}
#personal-info {
  background-color: #f1f3f5;
  padding: 60px 30px 30px;
}
#personal-info ul {
  list-style: none;
}
#personal-info ul li {
  font-size: 10px;
}
#personal-info ul li span {
  font-weight: bold;
}
#about .container h2 {
  margin-bottom: 30px;
}
.about-icon {
  margin-top: 15px;
  font-size: 12px;
  color: #339af0;
}
/* Xây dựng phần Thông tin nghề nghiệp */
#job-info .container {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  column-gap: 20px;
}
.job-info {
  border: 1px solid #dee2e6;
  padding-bottom: 60px;
}
.job-info h3 {
  font-size: 10px;
  font-weight: 520;
}
.job-info span {
  font-size: 8px;
  margin-bottom: 5px;
  color: #868e96;
}
.info-icon {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 30px;
}
.info-icon i {
  font-size: 30px;
  color: #ced4da;
}
.job-info em {
  background-color: #339af0;
  padding: 2px 6px;
  border-radius: 5px;
  color: #fff;
}
.job-info ul {
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 40px;
  line-height: 1.5;
}
.job-info ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.job-info ul li::after {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #339af0;
  content: "";
  border-radius: 50%;
  left: -18px;
  top: 5px;
}
.job-info .list-icon {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 15px;
  font-size: 14px;
  color: #74c0fc;
}
.job-info .list-icon i {
  padding: 10px;
  border: 1px solid #74c0fc;
  border-radius: 50%;
  margin-bottom: 8px;
}
.job-info .list-icon div {
  text-align: center;
}
.job-info .list-icon div h3 {
  color: #868e96;
}
.job-info .tich {
  padding: 5px 20px;
}
.job-info .tich h3 {
  font-weight: 500;
}
.job-info .tich span {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 35px;
}
/* Xây dựng phần Chứng chỉ - Giải thưởng */
#certificate .container {
  background-color: #f7f7f7;
  padding: 30px;
  display: grid;
  grid-template-columns: 83%;
  justify-content: center;
}
#certificate .container .box {
  width: 50%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.5;
}
#certificate .container .gt {
  display: flex;
}
#certificate .container .box:nth-child(2) {
  border-left: 1px solid #d6c08d;
  padding-left: 10px;
}
#certificate .container .box div {
  padding: 5px 20px;
}
#certificate .container .box img {
  width: 40%;
}
#certificate .container .box h3 {
  font-size: 10px;
  font-weight: 500;
  color: black;
  margin-bottom: 5px;
}
/* Xây dựng phần Dự án */
#project .container h2 {
  margin-left: 125px;
}
#project .container h3 {
  margin-bottom: 0;
}
.container .project-list {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  column-gap: 20px;
}
.container .project-list a {
  text-decoration: none;

  color: #868e96;
}
.project {
  font-size: 10px;
  color: #868e96;
}
.project img {
  width: 100%;
}
.project h3 {
  font-size: 11px;
  font-weight: 500;
  padding: 15px;
  border: 1px solid #dee2e6;
  border-bottom: none;
}
.project-info {
  display: flex;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
  gap: 10px;
  align-items: center;
}
.project-info span {
  font-size: 6px;
  background-color: #339af0;
  padding: 6px 10px;
  border-radius: 10px;
  color: #fff;
}
.project-info i {
  margin-right: 3px;
}
.project table {
  border: 1px solid #dee2e6;
}
.project table tr {
  padding: 5px;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: start;
  gap: 5px;
  border-bottom: 1px solid #dee2e6;
}
.project table tr:last-child {
  border-bottom: none;
}
/* footer  */
#footer .container {
  background-color: #f7f7f7;
  padding: 25px;
}
#footer .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#footer .container ul li {
  display: flex;
  gap: 5px;
  align-items: center;
}
#footer .container ul li i {
  font-size: 140%;
  color: #339af0;
}
#footer p {
  margin-bottom: 0;
}
/* (Nâng cao) Bổ sung ảnh cá nhân */
/* .img-avt {
  transform: scale(6);
  border: 1.4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px gray;
} */
