@media (max-width: 600px) {
  #banner {
    height: 100vh;
  }
  #nav-bar {
    text-align: left;
  }
  #nav-bar .container {
    flex-direction: column;
    justify-content: left;
  }
  #nav-bar .container a {
    border: none;

    margin-right: auto;
    margin-left: 0;
  }
  #nav-bar .container a:nth-child(2) {
    margin-right: auto;
    margin-left: 0;
  }
  #about .container {
    grid-template-columns: 1fr;
  }
  #target {
    background-color: #f7f7f7;
    padding: 60px 10px 30px;
  }
  #personal-info {
    background-color: #f1f3f5;
    padding: 60px 10px 30px;
    display: flex;
    flex-direction: column;
  }
  #personal-info ul {
    padding-left: 0;
  }
  section > .container {
    width: 95%;
  }
  #job-info .container {
    grid-template-columns: 80%;
  }
  #certificate .container .gt {
    flex-direction: column;
    align-items: stretch;
  }
  #certificate .container .box:nth-child(2) {
    border-left: none;
    padding-left: 0;
  }
  hr {
    display: none;
  }
  #certificate .container .box {
    border-bottom: 1px solid #d6c08d;
  }
  .container .project-list {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  table {
    width: 100%;
  }
  #project .container .section-title {
    margin-left: 0;
    margin-bottom: 4rem;
  }
  #footer p {
    margin-bottom: 0;
  }
}
